<%= form_for @book do |f| %>
  <div>
    <%= f.text_field :title, placeholder: "Book Title" %>
  </div>
  <div>
    <%= f.text_field :author, placeholder: "Book Author" %>
  </div>
  <div>
    <%= f.text_field :releasedate, placeholder: "Book Release Date" %>
  </div>
  <%= f.submit "Submit",:class=>"btn btn-primary"%>
<% end %>
